Checks: >-
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  portability-*,
  readability-avoid-const-params-in-decls,
  readability-identifier-naming
WarningsAsErrors: ''
HeaderFilterRegex: '^(include|src|apps|tests)/'
CheckOptions:
  - key: readability-identifier-naming.NamespaceCase
    value: lower_case
  - key: readability-identifier-naming.TypeCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-identifier-naming.VariableCase
    value: lower_case

